@import "imports/functions";
@import "imports/variables";
@import "imports/reset";
@import "imports/general";
@import "imports/tables";
@import "imports/forms";
@import "imports/buttons";
@import "imports/icons";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/docs";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
//@import "imports/prism";


// About Section
#about_integra{
    .grid-item-image img{
        width:100%;
        border-radius:0;
    }
    .grid-item-title{
        background: #33b0bb;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 22px;
    text-align: center;
    }
}
