@import "imports/functions";
@import "imports/variables";
@import "imports/reset";
@import "imports/general";
@import "imports/tables";
@import "imports/forms";
@import "imports/buttons";
@import "imports/icons";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts";
@import "imports/docs";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
//@import "imports/prism";


// About Section
#about_integra{
    .block-header{
        margin-left:0;
        margin-right:0;
        text-align:left;
    }
    .grid-item-image img{
        width:100%;
        border-radius:0;
    }
    .grid-item-title{
        &:after{
            content:unset;
        }
        background: #33b0bb;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-size: 22px;
        text-align: center;
    }
    .grid-item-inside{
        flex-grow:inherit;
        padding-bottom:0;
    }
}

// MArketing Section
#integra_markets{
    padding-left:0;
    padding-right:0;
    position: relative;
    
    .block-content{
        position: relative;
        z-index: 2;
    }
    .grid-item-image img{
        width:100%;
    }
    .grid-item-title {
        &:after{
            content:unset;
        }
        color: #1b67b2;
        font-size: 18px;
    }
    .block-header{
        margin-left:0;
        margin-right:0;
        text-align:left;
    }
    .grid-item-content{
        margin-top:1em;
    }
}

// Capability Grid
#capability_grid {
    .grid-item-title{
        &:after{
            content:unset;
        }
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        text-shadow: 3px 3px 1px #383737;
    }
    
    color: #1b67b2;
    font-size: 18px;
    .grid-item-image img{
        width:100%;
    }
    .grid-item-inside{
        flex-grow:inherit;
        padding-bottom:0;
    }
}
.card-content-actions {
    position: absolute;
    bottom: 0;
    background: #175c91;
    color: white;
    width: 51%;
    left: 50%;
    transform: translate(-50%);
}


// FOUR Columns

@media only screen and (min-width: 761px){
    .grid-col-4 .grid-item {
        flex: 0 0 25%;
        max-width: 25%;
    }
}