// common
.text-center {
    text-align: center;
}

.site-footer {
  background-color: #fff;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}
.connect_now{
    border: 1px solid #ccc;
    text-decoration: blink;
    padding: 11px;
}
{
    background: #6f6f6f;
    color: #fff;
}
#colophon {
  a:not(.button) {
    color: inherit;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

.site-info,
.social-links {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 0.875em;
  line-height: 1.2;

  .button:not(.button-icon) {
    font-size: inherit;
    line-height: 1.2;
    padding: 0.3em 1em;
  }
}
.develop_info{
    text-align:right
}

.footer_bottom{
    background: $color-secondary;
    color: #fff
}

.site-info {
  margin: 0.25em 0 0;
  text-align: center;

  .copyright,
  > a {
    margin: 0 8px 0.5em 0;
  }
}

.social-links {
  margin-top: 0.9375em;

  a {
    margin: 0 10px 0.5em;
  }

  .icon {
    font-size: 20px;
  }
}

@media only screen and (min-width: 641px) {
  .site-footer-inside {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }

  .site-info {
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
  }

  .social-links {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: start;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 0;

    a {
      margin-left: 20px;
      margin-right: 0;
    }
  }
}